<!-- Footer -->
<br />
<hr>

<footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold"><a href="http://udel.edu/~amotong/">Computational Data Science Lab</a></h5>
          <p>Our research aims to better understand the process of information diffusion within the social network, especially the rumor early detection and misinformation mitigation. CDS lab's research topics are including but not limited to social network analysis, machine learning, combinatorial optimization, and pure computing theory.
</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold"><a href="https://www.cis.udel.edu/">University of Delaware</a></h5>
          <p>Department of Computer and Information Science</p>
          <p>School of Engineering</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> UD CDS Lab</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
